<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>


    <connectionStrings>
      <add name="Demo" connectionString="Database="";Sever="";Integrated Security=true;"/>
    </connectionStrings>
  </configSections>-->

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
